    {% extends "base.html" %} 

    {% block head_title %}Audite · Artists{% endblock %}

    {% block content %}
        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{object.name}}
                    <small>It's Nice to Meet You!</small>
                    <a id="favourite" href="" class="btn btn-info btn-xs">Favourite +</a>
                </h1>
            </div>

            <div class="col-lg-12">
                <div class="col-lg-2">
                    <img class="img-circle img-responsive img-center" src="{% if object.picture %} /media/{{object.picture}} {% else %} http://placehold.it/200x200 {% endif %}" alt="">
                </div>
                <div class="col-lg-10">
                    <div class="jumbotron">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores ipsam aliquam inventore corrupti eveniet quisquam quod totam laudantium repudiandae obcaecati ea consectetur debitis velit facere nisi expedita vel?
                    </div>
                </div>
            </div>
        </div>

        <hr/>
        <!-- Songs -->
        <div class="col-lg-12">
            <table class="table table-condensed ">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Name</th>
                        <th>Album</th>
                        <th>Duration</th>
                        <th class="text-center">Calification</th>
                    </tr>
                </thead>
                <tbody>
                {% for song in songs %}
                    <tr>
                        <td>
                            <div class="dropdown">
                                <button id="google_login" href="/accounts/google/login" type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-info dropdown-toggle btn-xs">Add&nbsp;<span class="caret"></span></button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Action</a></li>
                                </ul>
                            </div>
                        </td>
                        <td>{{song}}</td>
                        <td>{{song.album.name}}</td>
                        <td>{{song.get_duration}}</td>
                        <td class="calification text-center">
                            {% with ''|center:song.calification as range %}
                                {% for i in range%}
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                {% endfor %}
                            {% endwith %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br/>
        </div>


        
        <!--albums-->
        <h3>Albums</h3>
        <hr/>
        <div class="col-lg-12">
            {% for album in albums %}
                <div class="well">
                <div class="col-lg-10">
                <h4>{{album}}<small>&nbsp;({{album.year}})</small></h4>
                <td class="calification">
                    {% with ''|center:album.get_calification as range %}
                        {% for i in range%}
                            <i class="fa fa-star" aria-hidden="true"></i>
                        {% endfor %}
                    {% endwith %}
                </td>
                </div>
                <div class="col-lg-2">
                    <strong>Duration: </strong>{{album.get_duration}}
                </div>
                <table class="table table-condensed ">
                    <thead>
                        <tr>
                            <th class="col-md-1">&nbsp;</th>
                            <th class="col-md-1">&nbsp;</th>
                            <th class="col-md-8">Name</th>
                            <th class="col-md-1">Duration</th>
                            <th class="col-md-1">Calification</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for song_alb in album.get_songs %}
                        <tr>
                            <td>
                                <div class="dropdown">
                                    <button href="/accounts/google/login" type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-info dropdown-toggle btn-xs">Add&nbsp;<span class="caret"></span></button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Action</a></li>
                                    </ul>
                                </div>
                            </td>
                            <td>{{ forloop.counter }}</td>
                            <td>{{song_alb }}</td>
                            <td>{{song_alb.get_duration}}</td>
                            <td class="calification text-center">
                                {% with ''|center:song_alb.calification as range %}
                                    {% for i in range%}
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    {% endfor %}
                                {% endwith %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                </div>
            {% endfor %}
        </div>


        
    {% endblock %}