{% extends "base.html" %}

{% block head_title %}Audite · Songs{% endblock %}

{% block content %}
	
	<!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Songs
                    <small>It's Nice to Meet You!</small>
                </h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores ipsam aliquam inventore corrupti eveniet quisquam quod totam laudantium repudiandae obcaecati ea consectetur debitis velit facere nisi expedita vel?</p>
            </div>
        </div>

    <div class="jumbotron">

    <h1>Hello, world!</h1>
      <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>

    <table class="table table-condensed ">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>Name</th>
                <th>Album</th>
                <th>Artist</th>
                <th>Duration</th>
                <th>Calification</th>
            </tr>
        </thead>
        <tbody>
	   {% for song in object_list  %}
            <tr>
                <td><a id="google_login" href="/accounts/google/login" class="btn btn-info btn-xs">Add</a></td>
                <td>{{ forloop.counter }}</td>
                <td>{{song}}</td>
                <td>{{song.album.name}}</td>
                <td>{{song.album.artist}}</td>
                <td>{{song.get_duration}}</td>
                <td>{{song.calification}}</td>
            </tr>
	   {% endfor %}
       </tbody>
    </table>


{% endblock %}