{% extends "base.html" %}

{% block head_title %}Audite · Songs{% endblock %}

{% block content %}
	
	<!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Songs
                    <small>It's Nice to Meet You!</small>
                </h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores ipsam aliquam inventore corrupti eveniet quisquam quod totam laudantium repudiandae obcaecati ea consectetur debitis velit facere nisi expedita vel?</p>
            </div>
        </div>


    <table class="table table-condensed ">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>Name</th>
                <th>Album</th>
                <th>Artist</th>
                <th>Duration</th>
                <th class="text-center">Calification</th>
            </tr>
        </thead>
        <tbody>
	   {% for song in object_list  %}
            <tr>
                <td>
                    <div class="dropdown">
                        <button href="/accounts/google/login" type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-info dropdown-toggle btn-xs">Add&nbsp;<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Action</a></li>
                        </ul>
                    </div>
                </td>
                <td>{{ forloop.counter }}</td>
                <td>{{song}}</td>
                <td>{{song.album.name}}</td>
                <td>{{song.album.artist}}</td>
                <td>{{song.get_duration}}</td>
                <td class="calification text-center">
                    {% with ''|center:song.calification as range %}
                        {% for i in range%}
                            <i class="fa fa-star" aria-hidden="true"></i>
                        {% endfor %}
                    {% endwith %}
                </td>
            </tr>
	   {% endfor %}
       </tbody>
    </table>


{% endblock %}