{% extends "base.html" %}

{% block head_title %}Audite · Songs{% endblock %}

{% block content %}
	
	<!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Songs
                    <small>It's Nice to Meet You!</small>
                </h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores ipsam aliquam inventore corrupti eveniet quisquam quod totam laudantium repudiandae obcaecati ea consectetur debitis velit facere nisi expedita vel?</p>
            </div>
        </div>

    <hr/>
    <div id="song-search" class="ui fluid input search">
      <input class="prompt" type="text" placeholder="Search song...">
      <div class="results"></div>
    </div>

    <div class="song_added"></div>

    <table class="table table-condensed ">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>Name</th>
                <th>Album</th>
                <th>Artist</th>
                <th>Duration</th>
                <th class="text-center">Calification</th>
            </tr>
        </thead>
        <tbody>
	   {% for song in object_list  %}
            <tr>
                <td>
                    <div class="dropdown">
                        <button href="/accounts/google/login" type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-info dropdown-toggle btn-xs">Add&nbsp;<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            {% if user.is_authenticated %}
                                {% for list in playlists%}
                                    <li class="item-playlist text-center">
                                        <a href="#" onClick="addSong({{list.id}}, {{song.id}});">
                                            {{list.name}}
                                        </a>
                                    </li>
                                {% endfor %}
                            {% else %}
                                <li class="item-playlist text-center">Please make login</li>
                            {% endif %}
                        </ul>
                    </div>
                </td>
                <td>{{ forloop.counter }}</td>
                <td>{{song}}</td>
                <td>{{song.album.name}}</td>
                <td>{{song.album.artist}}</td>
                <td>{{song.get_duration}}</td>
                <td class="calification text-center">
                    {% with ''|center:song.calification as range %}
                        {% for i in range%}
                            <i class="fa fa-star" aria-hidden="true"></i>
                        {% endfor %}
                    {% endwith %}
                </td>
            </tr>
	   {% endfor %}
       </tbody>
    </table>


{% endblock %}


{% block footer_javascript %}

<script type="text/javascript">
    function addSong(playlist, song) {
        console.log(playlist)
        console.log(song)
        console.log("/add_song/" + playlist+ "/" + song);
        $.get( "/add_song/" + playlist+ "/" + song, function( data ) {
          $( ".song_added" ).html( data );
          alert( data );
        });
    }
</script>

<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>

<script type="text/javascript">
    var algolia = {
    id: "AL4HOXR86I",
    key: "26688ad6d0e1d9f6147aee904fec62c8",
    index: "song_index"
    };
    $('#song-search')
    .search({
    cache: false,
    apiSettings: {
      method: 'post',
      url: 'https://' + algolia.id + '-dsn.algolia.net/1/indexes/' + algolia.index + '/query',
      beforeXHR: function(xhr) {
        // adjust XHR with additional headers
        xhr.setRequestHeader ('X-Algolia-API-Key', algolia.key);
        xhr.setRequestHeader ('X-Algolia-Application-Id', algolia.id);
        return xhr;
      },
      beforeSend: function(settings) {
        // Retrieve the actual query and urlencode it. There's definitely a better way to do this...
        settings.data = JSON.stringify({ "params" : "query=" + encodeURIComponent(settings.urlData.query) + "&hitsPerPage=5" });
        return settings;
      },
      onResponse: function(algoliaResponse) {
        var
          response = {
            results : []
          }
        ;
        // translate Algolia API response to work with search.
        $.each(algoliaResponse.hits, function(index, item) {
          // Of course you'll have to adapt this to your needs.
          response.results.push({
            id          : item.objectID,
            title       : item.title,
            url         : "/myroute/" + item.objectID
          });
        });
        return response;
      },
    },
      onSelect: function(result, response) {
            $('#song-search').val(result.id)
      },
});
</script>

{% endblock %}